body{
    margin: 0px;
}
.drake{
    position: absolute;
    left: 50%;
    font-family: arial;
    font-size: 100px;
    margin: 0px;
    color: rgb(97, 95, 94);
    transform: translate(-50%);
}
.game{
    color: rgb(204, 41, 196);
}
.minor{
    position: absolute;
    font-family: arial;
    top: 30%;
    left: 50%;
    font-size: 25px;
    margin: 0px;
    color: rgb(182, 84, 27);
    transform: translate(-50%);
}
.start{
    background-color: aqua;
    width: 350px;
    height: 70px;
    position: absolute;
    display: inline-block;
    font-family: arial;
    top: 54%;
    left: 50%;
    font-size: 30px;
    margin: 0px;
    color: rgb(138, 128, 224);
    border: none;
    border-radius: 10px;
    transform: translate(-50%);
}
.start:hover{
    cursor: pointer;
}
